<a href="./#/" class="btn btn-primary btn-sm">&#8592;  Home</a>

<p class="h2 text-center">[NPC] <strong>{{ template.name }}</strong> (<strong>{{template.entry}}</strong>)</p>
<br>
<tabset>
  <tab heading="Starts Quests">
    <table class="table table-striped">
      <thead>
        <th class="text-center">Quest ID</th>
      </thead>
      <tbody>
        <tr ng-repeat="npcQueststarter in npcQueststarters">
          <td><a ng-href="./#/quest/template/{{ npcQueststarter.Id }}">{{ npcQueststarter.id }}</a></td>
        </tr>
      </tbody>
    </table>
  </tab>
</tabset>
