<a href="./#/" class="btn btn-primary btn-sm">&#8592;  Home</a>

<p class="h2 text-center">[NPC] <strong>{{ template.name }}</strong> (<strong>{{template.entry}}</strong>)</p>
<br>
<table class="table table-striped table-condensed table-bordered template-table">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">{{template.entry}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ template.name }}</td>
    </tr>
    <tr ng-show="template.subname != null">
      <td>Subname</td>
      <td>{{ template.subname }}</td>
    </tr>

    <tr>
      <td>Level</td>
      <td>{{ template.minlevel }} <span ng-show="template.minlevel != template.maxlevel">- {{ template.maxlevel }}</span></td>
    </tr>
    <tr ng-show="template.mingold != 0 && template.maxgold != 0">
      <td>Gold</td>
      <td>{{ (template.mingold - (template.mingold | limitTo: -4)) != 0 ? ((template.mingold) - (template.mingold | limitTo: -4)) / 10000 +"g" :  "" }}
        {{ ((template.mingold | limitTo: -4) - (template.mingold | limitTo: -2)) != 0 ? ((template.mingold | limitTo: -4) - (template.mingold | limitTo: -2)) / 100 +"s" :  "" }}
        {{ (template.mingold | limitTo: -2) != 0 ? (template.mingold | limitTo: -2)+"c" :  "" }} -
        {{ (template.maxgold - (template.maxgold | limitTo: -4)) != 0 ? ((template.maxgold) - (template.maxgold | limitTo: -4)) / 10000 +"g" :  "" }}
        {{ ((template.maxgold | limitTo: -4) - (template.maxgold | limitTo: -2)) != 0 ? ((template.maxgold | limitTo: -4) - (template.maxgold | limitTo: -2)) / 100 +"s" :  "" }}
        {{ (template.maxgold | limitTo: -2) != 0 ? (template.maxgold | limitTo: -2)+"c" :  "" }}
      </td>
    </tr>
  </tbody>
</table>
<br>
<tabset>
  <tab class="hidden">
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center"><!-- Hackfix to display nothing --></th>
      </thead>
    </table>
  </tab>
  <tab class="hidden" id="tab-npc-spawn" heading="Spawns ({{ npcSpawnsCount }})">
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center">GUID</th>
        <th class="text-center">map</th>
        <th class="text-center">zoneId</th>
        <th class="text-center">areaId</th>
        <th class="text-center">spawnMask</th>
        <th class="text-center">phaseMask</th>
        <th class="text-center">modelid</th>
        <th class="text-center">equipment_id</th>
        <th class="text-center">position_x</th>
        <th class="text-center">position_y</th>
        <th class="text-center">position_z</th>
        <th class="text-center">orientation</th>
        <th class="text-center">spawntimesecs</th>
        <th class="text-center">spawndist</th>
        <th class="text-center">VerifiedBuild</th>

      </thead>
      <tbody>
        <tr ng-repeat="npcSpawn in npcSpawns">
          <td>{{ npcSpawn.guid }}</td>
          <td>{{ npcSpawn.map }}</td>
          <td>{{ npcSpawn.zoneId }}</td>
          <td>{{ npcSpawn.areaId }}</td>
          <td>{{ npcSpawn.spawnMask }}</td>
          <td>{{ npcSpawn.phaseMask }}</td>
          <td>{{ npcSpawn.modelid }}</td>
          <td>{{ npcSpawn.equipment_id }}</td>
          <td>{{ npcSpawn.position_x }}</td>
          <td>{{ npcSpawn.position_y }}</td>
          <td>{{ npcSpawn.position_z }}</td>
          <td>{{ npcSpawn.orientation }}</td>
          <td>{{ npcSpawn.spawntimesecs }}</td>
          <td>{{ npcSpawn.spawndist }}</td>
          <td>{{ npcSpawn.VerifiedBuild }}</td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab class="hidden" id="tab-npc-vendor" heading="Solds ({{ vendorsCount }})">
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center">Item ID</th>
        <th class="text-center">Item Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="vendor in vendors">
          <td><a ng-href="./#/item/{{ vendor.item }}">{{ vendor.item }}</a></td>
          <td><a ng-href="./#/item/{{ vendor.item }}">{{ vendor.name }}</a></td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab class="hidden" id="tab-npc-loot" heading="Loot ({{ npcLootsCount }})">
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center">Item ID</th>
        <th class="text-center">Item Name</th>
        <th class="text-center">Reference</th>
        <th class="text-center">Chance</th>
        <th class="text-center">Quest Required</th>
        <th class="text-center">Group ID</th>
        <th class="text-center">Min Count</th>
        <th class="text-center">Max Count</th>
      </thead>
      <tbody>
        <tr ng-repeat="npcLoot in npcLoots">
          <td><a ng-href="./#/item/{{ npcLoot.Item }}" ng-hide="npcLoot.Reference != 0">{{ npcLoot.Item }}</a></td>
          <td><a ng-href="./#/item/{{ npcLoot.Item }}" ng-hide="npcLoot.Reference != 0">{{ npcLoot.name }}</a></td>
          <td>{{ npcLoot.Reference }}</td>
          <td>{{ npcLoot.Chance }}</td>
          <td>{{ npcLoot.QuestRequired == 0 ? "No" : "Yes" }}</td>
          <td>{{ npcLoot.GroupId }}</td>
          <td>{{ npcLoot.MinCount }}</td>
          <td>{{ npcLoot.MaxCount }}</td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab class="hidden" id="tab-skinning-loot" heading="Skinning Loot ({{ skinningLootsCount }})">
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center">NPC ID</th>
        <th class="text-center">NPC Name</th>
        <th class="text-center">Reference</th>
        <th class="text-center">Chance</th>
        <th class="text-center">Quest Required</th>
        <th class="text-center">Group ID</th>
        <th class="text-center">Min Count</th>
        <th class="text-center">Max Count</th>
      </thead>
      <tbody>
        <tr ng-repeat="skinningLoot in skinningLoots">
          <td><a ng-href="./#/item/{{ skinningLoot.Item }}" ng-hide="skinningLoot.Reference != 0">{{ skinningLoot.Item }}</a></td>
          <td><a ng-href="./#/item/{{ skinningLoot.Item }}" ng-hide="skinningLoot.Reference != 0">{{ skinningLoot.name }}</a></td>
          <td>{{ skinningLoot.Reference }}</td>
          <td>{{ skinningLoot.Chance }}</td>
          <td>{{ skinningLoot.QuestRequired == 0 ? "No" : "Yes" }}</td>
          <td>{{ skinningLoot.GroupId }}</td>
          <td>{{ skinningLoot.MinCount }}</td>
          <td>{{ skinningLoot.MaxCount }}</td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab class="hidden" id="tab-pickpocketing-loot" heading="Pickpocketing Loot ({{ pickpocketingLootsCount }})">
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center">NPC ID</th>
        <th class="text-center">NPC Name</th>
        <th class="text-center">Reference</th>
        <th class="text-center">Chance</th>
        <th class="text-center">Quest Required</th>
        <th class="text-center">Group ID</th>
        <th class="text-center">Min Count</th>
        <th class="text-center">Max Count</th>
      </thead>
      <tbody>
        <tr ng-repeat="pickpocketingLoot in pickpocketingLoots">
          <td><a ng-href="./#/item/{{ pickpocketingLoot.Item }}" ng-hide="pickpocketingLoot.Reference != 0">{{ pickpocketingLoot.Item }}</a></td>
          <td><a ng-href="./#/item/{{ pickpocketingLoot.Item }}" ng-hide="pickpocketingLoot.Reference != 0">{{ pickpocketingLoot.name }}</a></td>
          <td>{{ pickpocketingLoot.Reference }}</td>
          <td>{{ pickpocketingLoot.Chance }}</td>
          <td>{{ pickpocketingLoot.QuestRequired == 0 ? "No" : "Yes" }}</td>
          <td>{{ pickpocketingLoot.GroupId }}</td>
          <td>{{ pickpocketingLoot.MinCount }}</td>
          <td>{{ pickpocketingLoot.MaxCount }}</td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab class="hidden" id="tab-npc-queststarters" heading="Starts Quests ({{ npcQueststartersCount }})">
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center">Quest ID</th>
        <th class="text-center">Quest Title</th>
      </thead>
      <tbody>
        <tr ng-repeat="npcQueststarter in npcQueststarters">
          <td><a ng-href="./#/quest/{{ npcQueststarter.quest }}">{{ npcQueststarter.quest }}</a></td>
          <td><a ng-href="./#/quest/{{ npcQueststarter.quest }}">{{ npcQueststarter.Title }}</a></td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab class="hidden" id="tab-npc-questenders" heading="Ends Quests ({{ npcQuestendersCount }})">
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center">Quest ID</th>
        <th class="text-center">Quest Title</th>
      </thead>
      <tbody>
        <tr ng-repeat="npcQuestender in npcQuestenders">
          <td><a ng-href="./#/quest/{{ npcQuestender.quest }}">{{ npcQuestender.quest }}</a></td>
          <td><a ng-href="./#/quest/{{ npcQuestender.quest }}">{{ npcQuestender.Title }}</a></td>
        </tr>
      </tbody>
    </table>
  </tab>
</tabset>
