<a href="./#/" class="btn btn-primary btn-sm">&#8592;  Home</a>

<p class="h2 text-center">[Quest] <strong>{{ template.Id }}</strong> (<strong>{{template.Title}}</strong>)</p>
<br>
<table class="table table-striped table-condensed table-bordered template-table">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">{{template.Id}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{ template.Title }}</td>
    </tr>
  </tbody>
</table>
<br>
<tabset>
  <tab class="hidden">
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center"><!-- Hackfix to display nothing --></th>
      </thead>
    </table>
  </tab>
  <tab class="hidden" id="tab-npc-queststarters" heading="Quest Starters ({{ npcQueststartersCount }})">
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center">NPC ID</th>
        <th class="text-center">NPC Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="npcQueststarter in npcQueststarters">
          <td><a ng-href="./#/npc/{{ npcQueststarter.id }}">{{ npcQueststarter.id }}</a></td>
          <td><a ng-href="./#/npc/{{ npcQueststarter.id }}">{{ npcQueststarter.name }}</a></td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab class="hidden" id="tab-npc-questenders" heading="Quest Enders ({{ npcQuestendersCount }})">
    <table class="table table-striped table-condensed">
      <thead>
        <th class="text-center">NPC ID</th>
        <th class="text-center">NPC Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="npcQuestender in npcQuestenders">
          <td><a ng-href="./#/npc/{{ npcQuestender.id }}">{{ npcQuestender.id }}</a></td>
          <td><a ng-href="./#/npc/{{ npcQuestender.id }}">{{ npcQuestender.name }}</a></td>
        </tr>
      </tbody>
    </table>
  </tab>
</tabset>
