(function () {
  var app = angular.module('engine');

  /* Edit with path of TC-JSON-API */
  app.api = "../TC-JSON-API/public/index.php/";

  /* Edit with path of the SpellWork API e.g http://trinitycore.cloudapp.net/spells/ */
  app.spellsApi = ""

})();
